{{!< ../default}}

{{!-- Class for <body> --}}
{{#contentFor "special_body_class"}}is-membership{{/contentFor}}

{{#if @member.paid}}
    {{!-- Logged in, paying member: Redirect home --}}
    <script>window.location = '{{@site.url}}';</script>

{{else}}

<header class="checkout-header">
    <div class="px-4 py-vw6 mx-auto max-w-3xl text-center">
        <h1 class="text-5xl text-title lg:text-5xl">Join the community!</h1>
        <div class="mt-8 text-xl text-gray-500"><p>All load order information and mod documentation is available to the public for free, but only members can comment. This keeps spam down so we don't have to include more third party services than we have to.</p> 
		<p>Join the community and take part in discussions.</p></div>
    </div>
</header>

<section class="mb-24 px-4">
    <div class="plan-wrap flex flex-col lg:flex-row justify-center max-w-1100 mx-auto items-center lg:items-stretch">
        {{!-- Free Plan --}}
        {{#unless @member}}
        <div class="plan-box py-8 pl-10 pr-5 max-w-sm w-full">
            <header class="plan-box-header">
                <h3 class="text-base font-semibold uppercase mb-2 text-gray-800 tracking-wide">Follow the journal and comment on posts</h3>
                <p class="text-gray-500">Casual readers</p>
                <div class="text-44 font-bold my-8 leading-none">Free</div>

                <a class="button is-primary is-outlined is-medium" href="{{@site.url}}/signup/">Become a member today</a>
            </header>
            <div class="plan-box-body mt-8 leading-tight">
                <ul>
                    {{!-- Add more lists to the free account --}}
                    <li class="flex self-start">
                        <svg class="text-primary flex-none mr-2 icon"><use xlink:href="#icon-checkmark"></use></svg>
                        <span>Load Orders | Mods | Mod Development</span>
                    </li>
					<li class="flex self-start">
                        <svg class="text-primary flex-none mr-2 icon"><use xlink:href="#icon-checkmark"></use></svg>
                        <span>Access to comments on posts</span>
                    </li>
                    <li class="flex self-start">
                        <svg class="text-primary flex-none mr-2 icon"><use xlink:href="#icon-checkmark"></use></svg>
                        <span>Regular updates with new content</span>
                    </li>
                </ul>
            </div>
        </div>
        {{/unless}}

        {{!-- Yearly Plan --}}
        <div class="plan-box py-8 pl-10 pr-5 border-4 border-primary max-w-sm w-full">
            <header class="plan-box-header">
                <h3 class="text-base font-semibold uppercase mb-2 text-gray-800 tracking-wide">Yearly</h3>
                <p class="text-gray-500">1 simple payment instead of 12, save on bank fees </p>
                <div class="text-44 font-bold my-8 leading-none text-primary">
                    <span>{{price currency=@price.currency}} {{@price.yearly}}</span>
                    <span class="text-lg font-medium">/ year</span>
                </div>

                <a class="button is-primary is-medium" href="javascript:" data-members-plan="Yearly">Choose this plan</a>
            </header>
            <div class="plan-box-body mt-8 leading-tight">
                <ul>
                    {{!-- Adding lists for the yearly plan --}}
					<li class="flex self-start">
                        <svg class="text-primary flex-none mr-2 icon"><use xlink:href="#icon-checkmark"></use></svg>
                        <span>Access to any private posts</span>
                    </li>
                    <li class="flex self-start">
                        <svg class="text-primary flex-none mr-2 icon"><use xlink:href="#icon-checkmark"></use></svg>
                        <span>Regular updates with new content</span>
                    </li>
                    <li class="flex self-start">
                        <svg class="text-primary flex-none mr-2 icon"><use xlink:href="#icon-checkmark"></use></svg>
                        <span>Support independent publishing</span>
                    </li>
                    <li class="flex self-start">
                        <svg class="text-primary flex-none mr-2 icon"><use xlink:href="#icon-checkmark"></use></svg>
                        <span>Simple, secure card payment</span>
                    </li>
                    <li class="flex self-start">
                        <svg class="text-primary flex-none mr-2 icon"><use xlink:href="#icon-checkmark"></use></svg>
                        <span>One easy payment instead of 12!</span>
                    </li>
                </ul>
            </div>
        </div>

        {{!-- Monthly Plan --}}
        <div class="plan-box py-8 pl-10 pr-5 max-w-sm w-full">
            <header class="plan-box-header">
                <h3 class="text-base font-semibold uppercase mb-2 text-gray-800 tracking-wide">Monthly</h3>
                <p class="text-gray-500">Support the site</p>
                <div class="text-44 font-bold my-8 leading-none">
                    <span>{{price currency=@price.currency}} {{@price.monthly}}</span>
                    <span class="text-lg text-gray-500 font-medium">/ month</span>
                </div>

                <a class="button is-primary is-outlined is-medium" href="javascript:" data-members-plan="Monthly">Choose this plan</a>
            </header>
            <div class="plan-box-body mt-8 leading-tight">
                <ul>
                    {{!-- Adding lists for the Monthly plan --}}
                    <li class="flex self-start">
                        <svg class="text-primary flex-none mr-2 icon"><use xlink:href="#icon-checkmark"></use></svg>
                        <span>Access to any private posts</span>
                    </li>
                    <li class="flex self-start">
                        <svg class="text-primary flex-none mr-2 icon"><use xlink:href="#icon-checkmark"></use></svg>
                        <span>Regular updates with new content</span>
                    </li>
                    <li class="flex self-start">
                        <svg class="text-primary flex-none mr-2 icon"><use xlink:href="#icon-checkmark"></use></svg>
                        <span>Support independent publishing</span>
                    </li>
                    <li class="flex self-start">
                        <svg class="text-primary flex-none mr-2 icon"><use xlink:href="#icon-checkmark"></use></svg>
                        <span>Simple, secure card payment</span>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    {{!-- Optional Note --}}
    <div class="mt-20 mx-auto max-w-xl px-4 text-center">
        <p>Not for you? You can also show your support on Patreon. Patreon pledges are automatically signed up for a complementary plan here.</p>
		<p>All comments on our articles and game mod documentation are subject to our Acceptable Use Policy.</p>
    </div>

</section>

{{/if}}
