<div class="pae row text-center">
{{!-- odds mods --}}
	<div class="col mb-8">
		<div class="pae-icon">
		<svg class="icon icon-turtle"><use xlink:href="#icon-turtle"></use></svg>
		</div>
		<h4 class="pae-title uppercase">ODD'S MODS</h4>
		<div class="pae-des"><p>Quality of life mods that make sense.</p></div>
			<a class="button is-light font-medium text-sm capitalize godo-tracking" 
				href="{{@site.url}}/mods/" 
				data-event-label="oddsmods"
				target="_blank"
				rel="noopener noreferrer">
				<svg class="icon icon-download"><use xlink:href="#icon-download">  <span class="pl-4">Download</span>
			</a>
	</div>
{{!-- discussion --}}
	<div class="col mb-8">
	<div class="pae-icon"><svg class="icon icon-glass"><use xlink:href="#icon-glass"></use>
	</svg></div>
	<h4 class="pae-title uppercase">JOIN THE DISCUSSION</h4>
	<div class="pae-des"><p>Ask questions, get help, learn load orders, report bugs, make suggestions, share screenshots and playthrough stories.</p>
	</div>
	<p>
	<a href="{{@site.url}}/discord/" 
		target="_blank"
        rel="noopener noreferrer"
		data-event-label="Discord"
		class="button font-medium text-sm capitalize godo-tracking">
		<svg class="icon icon-discord"><use xlink:href="#icon-discord"> <span class="pl-4">Join Us!</span></a> 
		{{#if @site.twitter}}
			<a href="{{twitter_url}}" 
				target="_blank"
				rel="noopener noreferrer"
				data-event-action="Social"
				data-event-label="Twitter"
				class="button font-medium text-sm capitalize godo-tracking">
				<svg class="icon icon-twitter"><use xlink:href="#icon-twitter"> <span class="pl-4">Follow us!</span>
			</a>
		{{/if}}
		</p>
</div>
	
</div>
<div class="pae row text-center">
{{!-- Tip Jar --}}
	<div class="col mb-8">
		<div class="pae-icon"><svg class="icon icon-gift"><use xlink:href="#icon-gift"></use></svg></div>
		<h4 class="pae-title uppercase">SUPPORT US</h4>
		{{#unless @member.paid}}
		<div class="pae-des">
		<p>Donations welcome.</p>
		<p>Help us keep our site and newsletter ad-free.</p></div>
		<a href="{{@site.url}}/donate/" 
				target="_blank"
				rel="noopener noreferrer"
				data-event-label="Tip Jar"
				class="button is-light font-medium text-sm capitalize godo-tracking">
				<svg class="icon icon-user-circle-o"><use xlink:href="#icon-user-circle-o"> <span class="pl-4">Subscribe</span>
		</a>
		{{else}}
		<p class="pae-des">Your support means a lot. Thanks so much!</p>
		{{/unless}}

	</div>

{{!-- Moichandizing, moichandizing, moichandizing. Oddlittleturtle the Tee-shirt! --}}
	<div class="col mb-8">
		<div class="pae-icon"><svg class="icon icon-merchandise"><use xlink:href="#icon-merchandise"></use></svg></div>
		<h4 class="pae-title uppercase">Buy Merch</h4>
		<p class="pae-des">Support our site and tell people how you really feel.</p>
		<a href="https://www.redbubble.com/shop/ap/82716579" 
			target="_blank"
			rel="noopener noreferrer"
			data-event-label="Swag"
			class="button is-light font-medium text-sm capitalize godo-tracking">
			<svg class="icon icon-coffee"><use xlink:href="#icon-coffee"> <span class="pl-4">Ugh. Swag.</span>
			</a>
	</div>

</div>

{{!-- Post Commets - partials/article/article-comments.hbs --}}
{{#post}}{{> "article/article-comments"}}{{/post}}


